@model EntityLayer.Concrete.Station


@{
    ViewData["Title"] = "Home Page";
}



<div class="fh5co-hero">
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(../../MKTur/images/banner.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Otobüs Bileti</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="flights">
                                    @using (Html.BeginForm("Index", "Seferler", FormMethod.Post))
                                    {
                                        <div class="row">
                                            <div class="col-xxs-12 col-xs-12 mt">
                                                <div class="input-field">
                                                    <label for="toCity">Kalkış</label>
                                                    @Html.DropDownListFor(x => x.ToCity, (List<SelectListItem>)ViewBag.cv, new { @class = "cs-select cs-skin-border" })
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-12 mt">
                                                <div class="input-field">
                                                    <label for="fromCity">Varış</label>
                                                    @Html.DropDownListFor(x => x.FromCity, (List<SelectListItem>)ViewBag.cv, new { @class = "cs-select cs-skin-border" })
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-start">Gidiş Tarihi</label>
                                                    <input type="text" class="form-control" id="date-start" placeholder="../../...." />
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <section>
                                                    <label for="class">Yolcu Sayısı</label>
                                                    <select class="cs-select cs-skin-border">
                                                        <option value="" disabled selected>1</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </section>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="submit" class="btn btn-primary btn-block" value="SEFER SORGULA">
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="desc2 animate-box">
        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
            <p>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></p>
            <h2>Exclusive Limited Time Offer</h2>
            <h3>Fly to Hong Kong via Los Angeles, USA</h3>
            <span class="price">$599</span>
        </div>
    </div>  -->
                </div>
            </div>
        </div>
    </div>

</div>