
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MK Turizm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/MKTur/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/MKTur/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/MKTur/css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/MKTur/css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/MKTur/css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/MKTur/css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="~/MKTur/css/cs-select.css">
    <link rel="stylesheet" href="~/MKTur/css/cs-skin-border.css">

    <link rel="stylesheet" href="~/MKTur/css/style.css">



    <!-- Modernizr JS -->
    <script src="~/MKTur/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><a asp-action="Index"  asp-controller="Home">MK Tur</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li class="active"><a href="index.html">ANASAYFA</a></li>
                                <li>
                                    <a href="vacation.html" class="fh5co-sub-ddown">SEYAHAT KILAVUZU</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="#">GENEL BİLGİLER</a></li>
                                        <li><a href="#">YOLCU HAKLARI</a></li>
                                        <li><a href="#">MOBİL UYGULAMALAR</a></li>
                                        <li><a href="#">KVKK YASAL SÖZLEŞME</a></li>
                                    </ul>
                                </li>
                                <li><a href="flight.html">YOLCUM NEREDE</a></li>
                                <li><a href="hotel.html">E-BİLET</a></li>
                                <li><a href="contact.html">İLETİŞİM</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="active"><a href="/Admin">ADMİN PANELİ</a></li>
                                    <li class="active"><a href="/Account/LogOut">ÇIKIŞ YAP</a></li>

                                }
                                else
                                {
                                    <li class="active"><a href="/Account/Login">ÜYE GİRİŞİ</a></li>

                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            @RenderBody()
            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row row-bottom-padded-md">
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>About Travel</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Top Flights Routes</h3>
                                <ul>
                                    <li><a href="#">Manila flights</a></li>
                                    <li><a href="#">Dubai flights</a></li>
                                    <li><a href="#">Bangkok flights</a></li>
                                    <li><a href="#">Tokyo Flight</a></li>
                                    <li><a href="#">New York Flights</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Top Hotels</h3>
                                <ul>
                                    <li><a href="#">Boracay Hotel</a></li>
                                    <li><a href="#">Dubai Hotel</a></li>
                                    <li><a href="#">Singapore Hotel</a></li>
                                    <li><a href="#">Manila Hotel</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Interest</h3>
                                <ul>
                                    <li><a href="#">Beaches</a></li>
                                    <li><a href="#">Family Travel</a></li>
                                    <li><a href="#">Budget Travel</a></li>
                                    <li><a href="#">Food &amp; Drink</a></li>
                                    <li><a href="#">Honeymoon and Romance</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Best Places</h3>
                                <ul>
                                    <li><a href="#">Boracay Beach</a></li>
                                    <li><a href="#">Dubai</a></li>
                                    <li><a href="#">Singapore</a></li>
                                    <li><a href="#">Hongkong</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                                <h3>Affordable</h3>
                                <ul>
                                    <li><a href="#">Food &amp; Drink</a></li>
                                    <li><a href="#">Fare Flights</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="fh5co-social-icons">
                                    <a href="#"><i class="icon-twitter2"></i></a>
                                    <a href="#"><i class="icon-facebook2"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-dribbble2"></i></a>
                                    <a href="#"><i class="icon-youtube"></i></a>
                                </p>
                                <p>Copyright @DateTime.Now.Year MK <a href="#">Module</a>. Tüm Hakları Saklıdır <i class="icon-heart3"></i> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>



        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->
    <!-- jQuery -->


    <script src="~/MKTur/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/MKTur/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/MKTur/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/MKTur/js/jquery.waypoints.min.js"></script>
    <script src="~/MKTur/js/sticky.js"></script>

    <!-- Stellar -->
    <script src="~/MKTur/js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="~/MKTur/js/hoverIntent.js"></script>
    <script src="~/MKTur/js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="~/MKTur/js/jquery.magnific-popup.min.js"></script>
    <script src="~/MKTur/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/MKTur/js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="~/MKTur/js/classie.js"></script>
    <script src="~/MKTur/js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="~/MKTur/js/main.js"></script>

</body>
</html>

